.top-one{
    text-align: center;
}
.three-heading{
    margin-left: 50%;
    margin-top: -60px;
}
.letter{
    margin-left: 90px;
}
.lettertwo{
    margin-left: 90px;
}
.last-dash{
    margin-left: 480px;
}
.last-dashh{
    margin-left: 440px;
}