.btn-1{
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 12px;
    width:220px;
    height: 50px;
    background-color: rgb(228, 158, 67);
    border-color: rgb(228, 158, 67);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  
  
  
  }
  
  .btn-2{
    margin-left: 180px;
    margin-top: 50px;
    border-radius: 12px;
    width:220px;
    height: 50px;
    background-color: rgb(112, 247, 191);
    border-color: rgb(112, 247, 191);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  
  }
  .btn-3{
    margin-left: 22%;
    margin-top: 70px;
    border-radius: 12px;
    width:220px;
    height: 50px;
    background-color:rgb(153, 157, 212);
    border-color:rgb(153, 157, 212);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  
  }
  .btn-4{
    margin-left: 180px;
    margin-top: 10px;
    border-radius: 12px;
    width:220px;
    height: 50px;
    background-color: #cc2a83;
    border-color:  #cc2a83;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
  
  }

  .case-judge-records{
    margin-left: 30%;
  }

  .case-record-judge-dashboard{
    
    margin-left: 31%;
    color:black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
.efile-judge-records{
  margin-left: 50%;
  margin-top: -210px;
}
.efile-judge-dashboard{
  margin-left: 50%;
  margin-top: -60px;
  color:black;
  font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.summon-judge-records{
  margin-left: 30%;
  margin-top: 40px;
}
.esumon-judge-dashboard{
  margin-left: 30%;
  color:black;
  font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.proceed-judge-records{
  margin-left: 50%;
  margin-top: -210px;
}
.proceed-judge-dashboard{
  margin-left: 50%;
  margin-top: -60px;
  color:black;
  font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

  .material-icons{
    margin-bottom: -30px;
  }
  @media screen and (max-width: 600px) {
    .efile-judge-records{
      margin-left: 60%;
      margin-top: -210px;
    }
    .efile-judge-dashboard{
      margin-left: 60%;
      margin-top: -60px;
      color:black;
      font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .proceed-judge-records{
      margin-left: 60%;
      margin-top: -210px;
    }
    .proceed-judge-dashboard{
      margin-left: 60%;
      margin-top: -60px;
      color:black;
      font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
  }