.A{
    display: flex;
    justify-content: center;
}
.chart{
    width:720px;
    
}
.court-heading-1{
    text-align: center;
}

.forward-button{
    background-color: rgb(228, 228, 166);
    border: none;
    
}


        
        

      
/* @media screen and (max-width: 300px) {
    .A{
        width: 45px;
        height: 35px;
    }
    .chart{
        width: 45px;
    }
} */