.CoveringCard {
    margin-top: -100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    width: 35%;
    overflow: hidden;
    background: white;
    height: 450px;
    position: fixed;
    margin-left: -22px;
  }
  