.case-year-cause{
    margin-left: 20px;
}
.case-numberrrrr{
	margin-left: -120px;
	font-weight: bold;
}
.fix-update-cause{
    margin-left: 100px;
	margin-top:40px
}
.lawyer-update-list{
    margin-left: 90px;
}
input[type="textsrnocms"]{
    margin-left: -10px;
    width:30px
}
.srnocmsupdate{
    font-weight: bold;
}
.party-list-update{
    margin-left: 90px;
}
.lawyer-update-list{
margin-left: 10%;
}
.pncauselist{
    font-weight: bold;
		margin-top:40px

}
.fixcauselist{
	font-weight: bold;
	margin-left:120px
}
.fixtime-list{
    margin-left: -10px;
    
}

.timecauselist{
	font-weight: bold;
	margin-left:160px
}
/* .case-year-cause{
    font-weight: bold;
} */

/* .fix-update-cause{
} */
.causelist-image{
    position: relative;
    margin-left: 30%;
    height: 400px;
    margin-top: -50px;
}

.causelists-image{
    position: relative;
    
    margin-left: 27%;
    height: 400px;
    margin-top: -50px;
}
input[type="texttcaseStatus"]{
	width:70px;
	margin-left:80px
}
input[type="textcasenumbercms"]{
margin-left: -40px;
width: 90px;
}
input[type="textcaseyearcms"]{
    margin-left: -129px;
    width: 90px;

}
textarea[type="textlawyernamecms"]{
        margin-left: -370px;
        
}
input[type="textfixtimecms"]{
    margin-left: -72%;
		margin-top:-90%;

    width: 70px;


}
.colll{
	margin-top:-210px;
	margin-left:280px;
}
	
.fix-update-cause{
	margin-top:-90px;
	margin-left:40px
}
textarea[type="textpartynamecms"]{
    margin-left: -130px;

}
.btn-update-causelist-cmsinf{
    background-color: rgb(245, 89, 110);
    color:white;
    border-color:rgb(245, 89, 110);
    font-weight: bold;
width:90px;
height: 30px;
text-align: center;
margin-left:500px;
margin-top:-105px
    
}
@media (max-width: 600px) {
    .causelists-image{
        position: relative;
        height:200px;
        max-width: 100%;
        margin-top: -80px;
        margin-left: 19%;
    }
    input[ type="textcasenumbercms"]{
        width:90px;
        margin-left:-10px;
        margin-top:30px

    }
    input[ type="textcaseyearcms"]{
        width:90px;
        margin-left:-10px;
        margin-top:30px

    }
    textarea[type="textpartynamecms"]{
        width:150px;
        margin-left:-10px;
        margin-top:30px

    }
    textarea[ type="textlawyernamecms"]{
        width:150px;
        margin-left:-10px;
        margin-top:30px

    }
    input[ type="textfixtimecms"]{
        width:90px;
        margin-left:-30px;
        margin-top:30px

    }
    .btn-update-causelist-cmsinf{
        background-color: rgb(245, 89, 110);
        color:white;
        border-color:rgb(245, 89, 110);
        font-weight: bold;
    width:90px;
    height: 30px;
    text-align: center;
    margin-top:30px


        
    }
}


@media (max-width: 750px) {
    .causelists-image{
        position: relative;
        height:200px;
        max-width: 100%;
        margin-top: -80px;
        margin-left: 19%;
    }
    input[ type="textcasenumbercms"]{
        width:90px;
        margin-left:-10px;
        margin-top:30px

    }
    input[ type="textcaseyearcms"]{
        width:90px;
        margin-left:-10px;
        margin-top:30px

    }
    textarea[type="textpartynamecms"]{
        width:150px;
        margin-left:-10px;
        margin-top:30px

    }
    textarea[ type="textlawyernamecms"]{
        width:150px;
        margin-left:-10px;
        margin-top:30px

    }
    input[ type="textfixtimecms"]{
        width:90px;
        margin-left:-30px;
        margin-top:30px

    }
    .btn-update-causelist-cmsinf{
        background-color: rgb(245, 89, 110);
        color:white;
        border-color:rgb(245, 89, 110);
        font-weight: bold;
    width:90px;
    height: 30px;
    text-align: center;
    margin-top:30px


        
    }
}